@font-face {
    font-family: 'Mrs Eaves OT';
    src: url('MrsEavesOT-Roman.eot');
    src: url('MrsEavesOT-Roman.eot?#iefix') format('embedded-opentype'),
        url('MrsEavesOT-Roman.woff2') format('woff2'),
        url('MrsEavesOT-Roman.woff') format('woff'),
        url('MrsEavesOT-Roman.ttf') format('truetype'),
        url('MrsEavesOT-Roman.svg#MrsEavesOT-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    max-width: 1080px;
    max-height: 1920px;
    height: 100vh;
    width: 100%;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size:  cover;    
    background-position: 0 0;
    display: inline;
}
ul {

    max-width: 1820px;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}
ul li{
    list-style: none;
    width: 48%;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: text-top;
    padding: 0 15px;
}
ul li:nth-child(3) .menu_content{
    margin-top: 85px;
}
ul li:nth-child(4){
    margin-top: 65px;
    display: inline-block;
}

.heading h1{
    font-family: 'Mrs Eaves OT';
    font-size: 91px;
    margin-top: 0;
    margin-bottom:0 ;
}
.heading {
    min-height: 145px;
}
.heading p{
    font-size: 36px;
    margin: 0 0;;
}
ul li:nth-child(4) .heading, ul li:nth-child(5) .heading {
    min-height: auto;
}
ul li:nth-child(5) .heading{
    margin-top: 40px;
}
.menu_content{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}
.menu_content strong{
    font-size: 44px;
    padding: 0;
    display: table;
    padding: 10px 0 0;
    width: 100%;
}
.menu_content small{
    font-size: 26px;;
}
.menu_content .menu-name{
    display: table-cell;

}
.menu_content i{
    display: table-cell;
    background-image: url(../img/dot.png);
    height: 19px;
    width: auto;
}
.menu_content .rate{
    display: table-cell;
}
.menu_content p{
    font-size: 38px;
    margin: 15px 0;;
}